@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
    scrollbar-width: 0px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar::-webkit-scrollbar {
    appearance: none;
    width: 10px;
    margin-right: 2px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #2d2f31;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #222425;
}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
}

.scrollbar-hidden:hover::-webkit-scrollbar {
    width: 6px;
    margin-right: 1px;
}
